aws_region   = "us-east-1"
environment  = "dev"
app_name     = "aisss"
domain       = "yourdomain.com"
ses_from_email       = "noreply@yourdomain.com"
alert_email          = "admin@yourdomain.com"
github_repository    = "https://github.com/sethamedonu/AI-Powered-Student-Support-System"
github_access_token  = "<your-github-pat>"

cognito_callback_urls = [
  "https://dev.dwfkamikpgffo.amplifyapp.com/auth/callback",
  "http://localhost:3000/auth/callback"
]

cognito_logout_urls = [
  "https://dev.dwfkamikpgffo.amplifyapp.com/auth/logout",
  "http://localhost:3000/auth/logout"
]

cors_allowed_origins = [
  "https://dev.dwfkamikpgffo.amplifyapp.com",
  "http://localhost:3000"
]
